/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2014, 14:47:13
    Author     : Misaow
*/



/*------------ Polices de caractères ------------*/
//@font-face {
//  font-family: 'Kaushan';
//  src: url('../fonts/Kaushan.otf');
//}


/* PARIS NORD FACE */


$white: #fff;
$dwhite: #E5E1D1;
$lgray: #52616D;
$dgray: #2C343B;
$pink: #8E001C;

@mixin rightrounded($radius: 7px){
    -webkit-border-top-right-radius:      $radius;
    -webkit-border-bottom-right-radius:   $radius;
    -moz-border-radius-topright:          $radius;
    -moz-border-radius-bottomright:       $radius;
    border-top-right-radius:              $radius;
    border-bottom-right-radius:           $radius;
}

body {
    padding-top: 50px;
    background-color: #FBF7E4 ;
}

.navbar{
    background-color: $dgray;
    ul.nav{
        li{

            a{
                color:$white;
            }
        }
    }

    a.navbar-brand{color:$pink;font-family: Lobster;font-size:24px;text-shadow: 1px 1px 0px #222222;}
}
.header-wrapper{
    margin-top:50px;
    min-height:422px;
}
.centervideo{
    background-color: $pink;
    height:422px;
    p{color:$white;line-height:422px;text-align:center;}
}
.rightsidebar{
    background-color:$white;
    @include rightrounded(15px);
}
.nogutter{
    padding:0px;
    margin:0px;
}
.streamtitle{
    display:block;
    background-color:$dgray;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    h2{
        color:$white;
        margin:0;
        line-height:50px;
        padding:0px 20px;
        font-family:Lato, sans;
        font-size:16px;
        font-weight:bold;
        text-align:center;
    }
}
.streamdesc-wrapper{
    padding:20px;
    color:$lgray;
    font-family: Lato,sans;
    word-wrap: break-word;
    .streamdesc{

    }
    span.highlight{
        font-weight:bold;
    }
    .authorwebsite{
        a{color:$pink;font-weight:bold;letter-spacing:1px;}
    }
}
.maincontent{
    margin-top:50px;
    .smallvid{
        .smallvid-title{
            display:block;
            padding:5px;
            background-color:$dgray;
            h3{
                font-family:Lato,sans;
                font-size: 16px;
                line-height:25px;
                text-align:center;
                color:$white;
                padding:0 10px;
                margin:0;

            }
        }

        .smallvid-player{
            display:block;
            min-height:165px;
            background-color:$pink;
            p.ex{line-height:165px;color:$white;text-align:center;}
        }
    }  
}


.navbar {
    background-color: #424242;
}
.navbar ul.nav li a {
    color: #E7E8D1 !important;
}
.navbar a.navbar-brand {
    color: #8E001C;
    font-family: Lobster;
    font-size: 24px;
    text-shadow: 1px 1px 0px #222222;
}

.header-wrapper {
    margin-top: 50px;
    min-height: 422px;
}

.centervideo {
    background-color: #8E001C;
    height: 422px;
}
.centervideo p {
    color: #E7E8D1;
    line-height: 422px;
    text-align: center;
}

.rightsidebar {
    background-color: white;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nogutter {
    padding: 0px;
    margin: 0px;
}

.streamtitle {
    display: block;
    background-color: #2c343b;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}
.streamtitle h2 {
    color: white;
    margin: 0;
    line-height: 50px;
    padding: 0px 20px;
    font-family: Lato, sans;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.streamdesc-wrapper {
    padding: 20px;
    color: #52616d;
    font-family: Lato,sans;
    word-wrap: break-word;
}
.streamdesc-wrapper span.highlight {
    font-weight: bold;
}
.streamdesc-wrapper .authorwebsite a {
    color: #8E001C;
    font-weight: bold;
    letter-spacing: 1px;
}

.maincontent {
    margin-top: 50px;
}
.maincontent .smallvid .smallvid-title {
    display: block;
    padding: 5px;
    background-color: #424242;
}
.maincontent .smallvid .smallvid-title h3 {
    font-family: Lato,sans;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #E7E8D1;
    padding: 0 10px;
    margin: 0;
}
.maincontent .smallvid .smallvid-player {
    display: block;
    min-height: 165px;
    background-color: #D3CEAA;;
    overflow: hidden;
    height: 165px;
}
.maincontent .smallvid .smallvid-player p.ex {
    line-height: 165px;
    color: white;
    text-align: center;
}

/* CARROUSEL CONTROLS */

.glyphicon-chevron-right:before {
    content: "\e131";
    color: #8E001C;
}

.glyphicon-chevron-left:before {
    content: "\e132";
    color: #8E001C;
}
.carousel-control {
    opacity: 0.3;   
}
.carousel-indicators li {
    border-radius: 0px;
}
.carousel-indicators .active {
background-color: #8E001C;
}
.carousel-indicators li {
border: 1px solid #8E001C;
}
/*    */